
﻿<?xml version="1.0" encoding="utf-8" ?>
<SCF>
	<Service name="dataspider" id="111" maxThreadCount="50">
		<Commmunication>
			<SocketPool bufferSize="65536" minPoolSize="3"
				maxPoolSize="5" nagle="true" autoShrink="00:00:20" sendTimeout="00:00:03"
				receiveTimeout="00:00:03" waitTimeout="00:00:03" />
			<Protocol serialize="SCF" encoder="UTF-8" compressType="UnCompress" />
		</Commmunication>
		<Loadbalance>
			<Server deadTimeout="00:00:20">
				<add name="dataspider1" host="10.0.3.66" port="19234"
					maxCurrentUser="100" />
			</Server>
		</Loadbalance>
	</Service>
	
	<Cache capacity="100000" timeout="5" />
	<Logger level="Info"
		type="WWW58COM.SPAT.SCF.Client.Utility.Logger.UDPLogger">
		<UDP host="scfudplog1.service.58dns.org" port="8888" />
		<File path="scf_log" />
	</Logger>
</SCF>